body.h1 {
    FONT-SIZE: 78px;
    COLOR: #eeeeee;
    PADDING-BOTTOM: 10px;
    TEXT-ALIGN: left;
    PADDING-TOP: 10px;
    PADDING-LEFT: 10px;
    BORDER-LEFT: #00b5ff 8px solid;
}

body.h2 {
    FONT-SIZE: 12px;
    COLOR: #eeeeee;
    PADDING-BOTTOM: 10px;
    TEXT-ALIGN: left;
    PADDING-TOP: 10px;
    PADDING-LEFT: 10px;
    BORDER-LEFT: #00b5ff 8px solid;
}


button {
    background-color: #00b5ff;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: 'BenchNine', Arial, sans-serif;
    font-size: 1em;
    font-size: 10px;
    line-height: 1em;
    outline: none;
    padding: 6px 20px 5px;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
}

/* 이미지 파일 불러오기 불가능 */
body {
    background-image: url("../views/images/background2.png");
    background-size : auto;
    font-family:"맑은고딕", "돋움";
    font-size:12px;
    color: deepskyblue;
}

* {
    margin:0;
    padding:0;
}
ul {
    list-style-type: none;
}

#login_box {
    width:220px;
    height:120px;
    border:solid 1px #bbbb00;
    border-radius:15px;
    margin:10px 0 0 10px;
    padding:10px 0 0 15px;
}
h2 {
    font-family:"Arial";
    margin-bottom:10px;
}
#login_box input {
    width:100px;
    height:18px;
}
#id_pass, #login_btn {
    display: inline-block;
    vertical-align: top;
}
#id_pass span {
    display: inline-block;
    width:20px;
}
#pass {
    margin-top:3px;
}
#login_btn button {
    margin-left:5px;
    padding:12px;
    border-radius:5px;
}
#btns {
    margin:12px 0 0 0;
    text-decoration:underline;
}
#btns li {
    margin-left:10px;
    display:inline;
}
#To_login{
    position: relative;
    left:135px;
    bottom:30px;
}