*{
    margin: 0 auto;
    font-size:12px;
    background-color: darkslategrey;
    box-sizing: border-box;
}

#container{
    margin-top:200px;
    width: 400px;
    height: 800px;
    position: relative;
    box-sizing: border-box;
}

#container #topTitle{
    position: absolute;
    width: 100%;
    height: 120px;
    top: 0px;
    left: 0px;
    opacity: 0.7;
}

h1 {
    FONT-SIZE: 78px;
    COLOR: #eeeeee;
    PADDING-BOTTOM: 10px;
    TEXT-ALIGN: left;
    PADDING-TOP: 10px;
    BORDER-LEFT: #00b5ff 8px solid;
    padding-left: 10px;
}

#up-menu {
    position: absolute;
    top: 130px;
    left:0px;
    padding: 10px 10px 10px 0px;
    width:100%;
    height:70px;
    display: block;
}

#middle-menu{
    float:left;
    position:absolute;
    top:190px;
    width: 100%;
    height:70px;
    padding-bottom: 5px;
    display: block;
}

#middle-menu #userinfo{
    float: left;
    width: 90px;
    height: 70px;
    border-right:10px;
}

#middle-menu #musicInfo{
    float: left;
    width: 220px;
    height: 70px;
    border-left:10px;
}

#search-form{
    position: absolute;
    top: 240px;
    width:100%;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 100px;
    display: block;
}

/* 버튼 디자인 */
button {
    background-color: #00b5ff;
    border: none;
    color: #ffffff;
    display: inline-block;
    font-family: 'BenchNine', Arial, sans-serif;
    font-size: 1em;
    line-height: 1em;
    outline: none;
    padding: 12px 20px 10px;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    box-sizing: border-box;
}

button:hover{
    opacity: 0.7;
    cursor: pointer;
    border: 1px red solid;
    box-sizing: border-box;
}

#welcome{
    display: block;
    width:500px;
    height: 60px;
    position: absolute;
    bottom: 60px;
    left: 10px;
}

h2{
    font-size: 30px;
}

#submit{
    position: relative;
    left:60px;
    bottom:20px;
}


