<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">
    <select id="login" resultType="member" resultMap="MemberMap">
        select id, account, password, age, first_name, last_name
        from user
        where account = #{account} and password = #{password};
    </select>

    <select id="check_id" resultType="member">
        select *
        from user
        where account = #{account};
    </select>

    <select id="detail" resultType="member" resultMap="MemberMap">
        select *
        from user
        where id = #{ID} and account = #{account};
    </select>



    <insert id="create">
        insert into member(account, password)
        values(#{account}, #{password});
    </insert>

    <insert id="register">
        insert into user(account, password, first_name, last_name, age, class_, money, sex)
        values(#{account}, #{password}, #{first_name}, #{last_name}, #{age}, #{class_}, #{money}
        , #{sex});
    </insert>

    <insert id="videoId_insert">
        insert into music(videoid)
        values(#{videoId})
        where artist = #{artist}, title = #{title}
    </insert>

    <update id="infoChange">
        update user set
            PASSWORD = #{password},
            first_name = #{first_name},
            last_name = #{last_name},
            age = #{age},
            class_ = #{class_},
            money = #{money},
            sex = #{sex}
        where ACCOUNT = #{account};
    </update>

<!--    result map 을 사용해서 Member 객체와 이름이 동일하지 않아도 Data 가 받아와 지도록 하는 방법 -->
<!--    DB의 id column 값을 ID : ~~ 로 가져온다.  -> Member 필드의 변수명과 같도록. -->
<!-- DB 컬럼의 '_'가 있을 때 resultMap을 사용치 않고 sql을 그대로 가져오면 변수이름이 같아도 Member 필드에 값이 들어가지 않음.  null 반환-->
<!--    type 에는 class 명을 넣어준다. id 는 resultMap 의 식별자-->
    <resultMap type="Member" id="MemberMap">
        <result column="id" property="ID"/>
        <result column="account" property="account"/>
        <result column="password" property="password"/>
        <result column="first_name" property="first_name"/>
        <result column="last_name" property="last_name"/>
        <result column="age" property="age"/>
        <result column="class_" property="class_"/>
        <result column="money" property="money"/>
        <result column="sex" property="sex"/>
    </resultMap>

</mapper>