<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="youtubeMapper">
    <update id="searchResult">
        update member
        set videoid = #{youtubedt.videoID}
        where artist like #{youtubedt.Artist} and title like #{youtubedt.title};
    </update>

    <select id="userRecommend" resultType="RecResult" resultMap="RecResult_Map">
        SELECT music_ID, COUNT(playlist_ID) AS dupl, playlist_ID
        FROM rel
        GROUP BY music_ID
        HAVING playlist_ID IN (
            SELECT A.ID
            FROM playlist A, playlist B, rel, music
            WHERE A.user_ID IN (B.user_ID) AND B.ID = rel.playlist_ID AND music.ID = rel.music_ID AND music.videoid LIKE CONCAT('%', #{video_ID}, '%'))
        ORDER BY dupl DESC
        LIMIT 12;
    </select>

    <select id="playlistRecommend" resultType="RecResult" resultMap="RecResult_Map">
        SELECT music_ID, count(playlist_ID) AS dupl, playlist_ID
        FROM rel
        GROUP BY music_ID
        HAVING playlist_ID IN (
           SELECT playlist_ID
           FROM rel, music
           WHERE rel.music_ID = music.ID AND videoid like CONCAT('%', #{video_ID}, '%'))
        ORDER BY dupl desc
        LIMIT 12;
    </select>

<!-- Result of SQL Column's name mapping to RecResult's Field -->
    <resultMap type="RecResult" id="RecResult_Map">
        <result column="music_ID" property="MusicID"/>
        <result column="dupl" property="Count"/>
        <result column="playlist_ID" property="PlaylistID"/>
    </resultMap>
</mapper>

